* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qr-code {
  width: 50px;
  height: 50px;
}
.navbar {
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, rgb(93, 95, 239), rgb(52, 53, 166));
}
.navbar-nav {
  font-weight: 400;
}
.nav-item {
  margin-left: 30px;
}
.nav-item:hover {
  color: rgb(238, 233, 226);
  font-size: 20px;
}
.btn {
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
}
.sign-up-btn {
  border: 1px solid white;
  margin-left: 15px;
}
.sign-in-btn {
  background-color: rgb(76, 76, 167);
}
.header-plan {
  background: linear-gradient(to right, rgb(93, 95, 239), rgb(52, 53, 166));
  height: 300px;
}
.header-text {
  position: relative;
  top: 80px;
}
.header-img {
  background-image: url("https://scan.az/cdn/images/about-qr.svg");
  height: 20px;
  position: relative;
  background-size: cover;
  top: 123px;
}
.header-plan h2 {
  top: 60px;
  position: relative;
}
.header-plan button {
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  background-color: fuchsia;
  font-weight: bold;
  padding: 10px 16px;
  position: relative;
  left: 45%;
}
.about-section {
  width: 90%;
  height: 700px;
  margin: 100px auto;
 
justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}
.about-img{
background-image:url("https://scan.az/cdn/images/about-border.svg");
width:40px;
height:40px;
}

.about p {
  font-size: 18px;
  text-align: justify;
 
}
.about-box-1 {
  max-width: 35%;
  min-height: 200px;
  transform: rotate(-5deg);

}
.about {
    max-width: 35%;
    min-height: 200px;
    
}
.about-box-2{
transform: rotate(5deg);
}
.about-box-3{
    transform: rotate(-1deg);
}
.footer-img {
    height: 15px;
  
    position: relative;
    top: 40px;
    width: 90%;
    margin: 0px auto;
    background-image: url("https://scan.az/cdn/images/qr.svg");
  }
  footer {
    height: 80px;
    margin-top: 80px;
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  footer p {
    display: inline-block;
  }
  .fa-youtube {
    font-size: 14px;
    padding:6px;
  }



@media (max-width: 768px) {
  .header-text button {
    left: 37%;
  }
  .header-img {
    top: 87px;
  }
  .about-section{
      display: block;
  }
  .about{
      max-width:90%;
      margin:10px;
      transform: rotate(0deg);
  }
  footer,.footer-img{
      display: none;
  }
}
